<header class="header-main">
  <div class="row">
      <div class="col-6 col-sm-5 d-flex">
          <button class="togglebar" (click)="clickEvent()">
              <i class="material-icons">menu</i>
          </button>
          <div class="main-logo">
              <a class="login-logo" routerLink="/home">
                  <img src="assets/img/login-logo.png">
              </a>
          </div>
      </div>
      <div class="col-6  col-sm-7">
          <!-- <div class="top-right-menu">
              <div class="profile-box">
                <button mat-button>After</button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item [routerLink]="['/my-profile']">My Profile</button>
                      <button mat-menu-item [routerLink]="['/my-comments']">My Comments</button>
                      <button mat-menu-item (click)="logout()">Logout</button>
                  </mat-menu>
              </div>
          </div> -->
          <div *ngIf="!userID">
            <button mat-menu-item [routerLink]="['/register']">Register</button>
          </div>
          <div  *ngIf="userID">
            <button mat-button [matMenuTriggerFor]="afterMenu">User</button>
            <mat-menu #afterMenu="matMenu" xPosition="after">
              <button mat-menu-item [routerLink]="['/profile']">My Profile</button>
              <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
          </div>
          
      </div>
  </div>
</header>