<div class="mian-sidenav mat-elevation-z8" style="overflow: hidden;">
    <div class="side-box-top d-flex">
        <div class="side-box-title">Add Jobs</div>
        <div class="add-topic">
            <a routerLink="/add-job">
                <i class="material-icons">control_point</i> Add Jobs
            </a>
        </div>
        <!-- <button class="close_nav" (click)="closeMenu()">
            <i class="material-icons">close</i>
        </button> -->
    </div>
        <!-- <div *ngFor="let topic of dataSource">
            <mat-sidenav-container>
                <mat-sidenav-content routerLinkActive="active-link" [routerLink]="['/add-job']">{{topic.name}}
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div> -->
</div>