/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.register-form{
    background: ghostwhite;
    margin-top: 90px;
}
.mat-h1, .mat-headline, .mat-typography h1{
    margin: 30px 0 0 16px !important;
}