<div class="container">
    <div class="row register-form">
        <div class="col-12">
            <h1 class="text-center font-weight-bold">User Registration Form</h1>
            <form class="example-form" [formGroup]="userRegister">
                <mat-form-field class="full-width col-6">
                    <input matInput placeholder="First Name" formControlName="firstName" required>
                    <mat-error *ngIf="fval.firstName.errors?.required">
                        First Name is required</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width col-6">
                    <input type="text" matInput placeholder="Last Name" formControlName="lastName" required>
                    <mat-error *ngIf="fval.lastName.errors?.required">
                        Last Name is required</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width col-6">
                    <input type="text" matInput placeholder="Enter Address" formControlName="address" required>
                    <mat-error *ngIf="fval.address.errors?.required">
                        Address is required</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width col-6">
                    <input type="number" matInput placeholder="Enter Mobile Number" formControlName="mobile" required>
                    <mat-error *ngIf="fval.mobile.errors?.required">
                        Mobile Number is required</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width col-6">
                    <input type="email"  matInput placeholder="Enter Email Address" formControlName="email" required>
                    <mat-error *ngIf="fval.email.errors?.required">
                         Email Address is required</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width col-6">
                    <input type="password" matInput placeholder="Enter Password" formControlName="password" required>
                    <mat-error *ngIf="fval.password.errors?.required">
                        Password is required</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width col-6">
                    <input type="cpassword" matInput placeholder="Enter Confirm Password" formControlName="cpassword" required>
                    <mat-error *ngIf="fval.cpassword.errors?.required">
                        Confirm Password is required</mat-error>
                </mat-form-field><br>

                <div class="text-center full-width col-12">
                    <button class="btn btn-primary" (click)="register()">Submit</button>
                </div><br>
                <p class="text-center">Already signed in? <a routerLink="/login">Click here</a> to login</p>
              </form>
        </div>
    </div>
</div>
